python-dotenv==1.2.2
fastapi==0.136.0
httpx[http2]==0.28.1
pandas==3.0.2
playwright==1.58.0
psutil==7.2.2
pydeck==0.9.2
python-i18n==0.3.9
chardet==7.4.3
requests==2.33.1
scipy==1.17.1
trame==3.12.0
trame-deckgl==2.0.4
trame-iframe==1.1.1
trame-vtk==2.11.7
trame-vuetify==3.2.1
uvicorn==0.46.0
natsort==8.4.0
Pillow==12.2.0
vtk==9.6.1
nveil-dive[extra]
choregraph[extra,server, dicom]